<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.repository.UserDao" >

  <!--用户mapper-->
  <resultMap id="BaseResultMap" type="com.example.demo.domain.User" >
    <constructor >
      <idArg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nick_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, user_name, nick_name, phone, password, create_time, update_time
  </sql>

  <!--用户注册-->
  <insert id="insert" parameterType="com.example.demo.domain.User" >
    insert into user (
    user_name,password, create_time, update_time
    )values (
    #{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, now(), now())
  </insert>

  <update id="update">
    update `user`
      <set>
        <if test="user.userName != null and user.userName != ''">
            `user_name` = #{user.userName},
        </if>
        <if test="user.nickName != null and user.nickName != ''">
            nick_name = #{user.nickName},
        </if>
        <if test="user.phone != null and user.phone != ''">
            phone = #{user.phone},
        </if>
        <if test="user.password != null and user.password != ''">
            password = #{user.password},
        </if>
      </set>
      where user_id = #{user.userId}
  </update>

    <!--查询列表-->
    <select id="findList" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from  user
    </select>
</mapper>